@charset "utf-8";
/* ============================================
    common 
============================================ */
:root {
  --main-color: #5AC1CC;
  --dark-color: #222222;
  --lightgray-color: #EEEEEE;

}

.lightmode {
  --body-color: #FFFFFF;
  --base-color: #FFFFFF;
  --text-color: #222222;
  --sub-text-color: #444444;
  --guide-text-color: #888888;
  --border-color: #EEEEEE;
  --fnb: #CCCCCC;
  --fnb-text : #AAAAAA;
  --fnb-active : #222222;
  --calendar-colr : #666666;
  --dim : rgba(0,0,0,0.2);
  --mypage-color: #f7f8f9;
}

.darkmode {
  --body-color: #12120A;
  --base-color: #333333;
  --text-color: #FFFFFF;
  --sub-text-color: #DDDDDD;
  --guide-text-color: #777777;
  --border-color: #333333;
  --fnb : #444444;
  --fnb-text : #666666;
  --fnb-active : #BBBBBB;
  --calendar-colr : #999999;
  --dim : rgba(255,255,255,0.2);
  --mypage-color: #202020;
  
}



/* 심플 팔레트 
====================================================== */
.lightmode.palette_simple {
  --base: #F5F5F5;
  --dominant: #D9D9D9;
  --accent: #222222;
  --checkbox-label: #444444;
  --checkbox-checked-label: #AAAAAA;
}

.darkmode.palette_simple {
  --base: #333333;
  --dominant: #666666;
  --accent: #D8D8D8;
  --checkbox-label: #DADADA;
  --checkbox-checked-label: #666666;
}



/* 민초 팔레트 
====================================================== */
.lightmode.palette_mincho {
  --base: #D8F0EF;
  --dominant: #A7D3D2;
  --accent: #997B6A;
  --checkbox-label: #1D5A58;
  --checkbox-checked-label: #679A98;
}

.darkmode.palette_mincho {
  --base: #40817D;
  --dominant: #A7D3D2;
  --accent: #98D2CF;
  --checkbox-label: #DFF1F0;
  --checkbox-checked-label: #78ABA9;
}



/* 레몬 팔레트 
====================================================== */
.lightmode.palette_lemon {
  --base: #FFF3CA;
  --dominant: #D9CC9D;
  --accent: #F3637D;
  --checkbox-label: #473C15;
  --checkbox-checked-label: #958D71;
}

.darkmode.palette_lemon {
  --base: #695D34;
  --dominant: #97864D;
  --accent: #EAE5BA;
  --checkbox-label: #F2EEE0;
  --checkbox-checked-label: #958D71;
}



/* 그린 팔레트 
====================================================== */
.lightmode.palette_green {
  --base: #E9FFDF;
  --dominant: #B9D9AA;
  --accent: #228262;
  --checkbox-label: #18320C;
  --checkbox-checked-label: #829C76;
}

.darkmode.palette_green {
  --base: #374E2D;
  --dominant: #59784C;
  --accent: #CBE2BF;
  --checkbox-label: #EDFAE7;
  --checkbox-checked-label: #829C76;
}



/* 핑키 팔레트 
====================================================== */
.lightmode.palette_pinky {
  --base: #FFD8E7;
  --dominant: #FFB9D4;
  --accent: #FA6EA5;
  --checkbox-label: #411023;
  --checkbox-checked-label: #AB7B8E;
}

.darkmode.palette_pinky {
  --base: #6F2945;
  --dominant: #904765;
  --accent: #FF9FC5;
  --checkbox-label: #F3DBE4;
  --checkbox-checked-label: #AB7B8E;
}



/* 테마선택  
====================================================== */
.style_simple {
  --style: 0;
}

.style_round {
  --style: 20px;
}



@media (prefers-color-scheme: dark) {

}