@charset "utf-8";
/* ============================================
    common
============================================ */
.visuallyhidden {position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0,0,0,0); overflow: hidden; }

/* text-ellipsis */
.text-ellipsis01 {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.text-ellipsis02 {display: block; overflow: hidden; text-overflow: ellipsis; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.5;}
.text-ellipsis03 {display: block; overflow: hidden; text-overflow: ellipsis; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; line-height: 1.5;}





/* =========================================
    form reset
=========================================== */
input::placeholder {color: var(--guide-text-color) !important; opacity: 1;}
input::-webkit-input-placeholder, input:-ms-input-placeholder,
input:-mos-input-placeholder {color: var(--guide-text-color);}

input:read-only, input.readonly,
input:disabled, input.disabled {background-color: #eee !important; color: #aaa !important; outline: none;}

input:placeholder-shown {text-overflow: ellipsis; }

input:focus {border: 0; outline: none; }

/* textarea */
textarea::placeholder {color: #888 !important; opacity: 1;}
textarea::-webkit-input-placeholder, input:-ms-input-placeholder,
textarea:-mos-input-placeholder {color: #888;}

textarea {width: 100%; box-sizing: border-box; border: none; overflow-y: auto; overflow-x: hidden; line-height: 19px; outline: none; resize: none; }
pre {width: 100%; box-sizing: border-box; border: none; overflow-y: auto; overflow-x: hidden; line-height: 19px; outline: none; resize: none; white-space: pre-wrap; word-wrap: break-word; font-family: 'NotoSansKR', sans-serif; font-weight: 400; }





/* =========================================
    textarea , pre , select
=========================================== */
.form_textarea {width: 100%; padding: 0 16px;  box-sizing: border-box; border-radius: 5px; border: 1px solid var(--border-color); background-color: var(--body-color); font-size: 14px; color: var(--text-color); line-height: 38px; outline: none; }

/* select  */
.form_select {width: 100%; height: 40px; padding: 0 16px;  box-sizing: border-box; border-radius: 5px; border: 1px solid var(--border-color); background-color: var(--body-color); font-size: 14px; color: var(--text-color); line-height: 38px; outline: none; }



/* =========================================
    form
=========================================== */
.form_wrap {margin-top: 20px }
.form_wrap .form_dl .form_label {display: block; margin-bottom: 5px; color: var(--sub-text-color); font-size: 12px; }
.form_wrap .form_dl .form_input {width: 100%; height: 40px; padding: 0 16px;  box-sizing: border-box; border-radius: 5px; border: 1px solid var(--border-color); background-color: var(--body-color); font-size: 14px; color: var(--text-color); line-height: 38px; outline: none; }
.form_wrap .form_dl .field_not {display: none;  margin-top: 5px; font-size: 12px; color: #FF3030; text-align: left; }
.form_wrap .form_dl .form_input.field_chk {border-color: #FF3030;}
.form_wrap .form_dl .form_input.field_chk + .field_not {display: block;}

.form_wrap .form_dl + .form_dl {margin-top: 16px; }

/* 인증하기 //인풋 + 버튼 */
.form_confirm {}
.form_confirm .confirm_num:after {content: ''; clear: both; display: block; height: 0; visibility: hidden; } 
.form_dl.form_confirm .form_input {float: left; width: calc(100% - 130px); }
.form_dl.form_confirm .form_input + .btn {float: right; width: 120px; height: 40px; box-sizing: border-box; border: 1px solid var(--dark-color); border-radius: 5px; background-color: var(--dark-color); font-size: 14px; text-align: center; font-weight: 500; line-height: 38px; color: #fff;}
.form_dl.form_confirm .field_not {text-align: right; }



/* checkbox  (default)
============================================= */
.checkbox {position: relative; display: block; padding-left: 26px; cursor: pointer;  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox label {font-size: 13px; color: #666; font-weight: 500; }
.checkbox input[type="checkbox"] {display: none; } 

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.checkbox .on {position: absolute; top: 2px; left: 0; width: 18px; height: 18px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 100%; background: #fff;  }
.checkbox .on:after {content: ''; position: absolute; top: 4px; left: 3px; width: 8px; height: 4px; border: 1px solid #ccc; border-top: 0; border-right: 0; transform: rotate(-45deg);}

/* 선택된 체크박스 스타일 꾸미기 */
.checkbox input[type="checkbox"]:checked + .on {border-color: var(--main-color); background: var(--main-color); }
.checkbox input[type="checkbox"]:checked + .on:after {border-color: #fff; }



/* checkbox02  (change color)
============================================= */
.checkbox02 {position: relative; display: block; padding-left: 26px; cursor: pointer;  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox02 label {display: inline-block; width: calc(100% - 18px); font-size: 13px; font-weight: 400; color: var(--checkbox-label); }
.checkbox02 input[type="checkbox"] {display: none; } 

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.checkbox02 .on {position: absolute; top: 2px; left: 0; width: 18px; height: 18px; box-sizing: border-box; border: 1px solid var(--dominant, #D9D9D9); border-radius: var(--style); background-color: var(--dominant, #D9D9D9);}
.checkbox02 .on:after {content: ''; display: none; position: absolute; top: 3px; left: 3px; width: 8px; height: 4px; border-width: 1px; border-style: solid; border-top: 0; border-right: 0; transform: rotate(-45deg);}

/* 선택된 체크박스 스타일 꾸미기 */
.checkbox02 input[type="checkbox"]:checked + .on {border-color: var(--accent); background-color: var(--accent); }
.checkbox02 input[type="checkbox"]:checked + .on:after {display: block; border-color: var(--base-color); }
.checkbox02:has(:checked) label {text-decoration: line-through; color: var(--checkbox-checked-label); }



/* radiobox (default)
============================================= */
.radiobox {position: relative; display: inline-block; margin-right: 10px; padding-left: 25px; cursor: pointer; font-size: 14px; color: var(--text-color); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.radiobox label {color: #666; font-weight: 500; font-size: 14px; }
/* 기본 라디오 버튼 숨기기 */
.radiobox input[type="radio"] {display: none; }

/* 선택되지 않은 라디오 버튼 스타일 꾸미기 */
.radiobox .on {position: absolute; top: 0; left: 0; width: 20px; height: 20px; box-sizing: border-box; border: 1px solid #CCCCCC; border-radius: 50%; background-color: #FFFFFF; }

/* 선택된 라디오 버튼 스타일 꾸미기 */
.radiobox input[type="radio"]:checked + .on {background-color:var(--main-color); }
.radiobox .on:after {content: ""; position: absolute; display: none; }
.radiobox input[type="radio"]:checked + .on:after {display: block; }
.radiobox .on:after {position: absolute; left: 5px; top: 5px; width: 8px; height: 8px; border-radius: 50%; background: #FFFFFF; }





/* =========================================
    button
=========================================== */
button:disabled, button[disabled],
button.disabled {opacity: 0.6; cursor: not-allowed; }

/* 하단 버튼 영역 */
.bottom_btn_group {margin-top: 20px;}
.bottom_btn_group .btn {display: block; height: 50px; box-sizing: border-box; border: 1px solid var(--main-color); border-radius: 6px; font-size: 16px; text-align: center; font-weight: 400; line-height: 48px; letter-spacing: -0.33px; }
.bottom_btn_group .btn + .btn {margin-top: 10px; }
.bottom_btn_group .btn_main {background-color: var(--main-color); color: #fff;}
.bottom_btn_group .btn_sub {background-color: var(--body-color); color: var(--main-color); }
.bottom_btn_group .btn_dark {border-color: var(--dark-color); background-color: var(--dark-color); color: #fff;}

.bottom_btn_group.horzion {display: flex; flex-wrap: wrap; justify-content: space-between; }
.bottom_btn_group.horzion .btn {flex-basis: calc(50% - 7px); }
.bottom_btn_group.horzion .btn + .btn {margin-top: 0; }
.bottom_btn_group.horzion .btn_prev {border-color: var(--lightgray-color); background-color: var(--lightgray-color); color: var(--guide-text-color); }

.bottom_btn_group .btn.full {width: 100%; }