@charset "uft-8";
/* ============================================
    editodo_mypage (nav)  
============================================ */
.editodo_mypage {background-color: #F7F8F9; }
.editodo_mypage.bg-white {background-color: var(--body-color); }
.editodo_mypage .mypage_info {height: 60px; padding: 0 16px; box-sizing: border-box; border-bottom: 1px solid var(--border-color); background-color: var(--body-color);}
.editodo_mypage .mypage_info .btn_info {position: relative; height: 60px; font-size: 20px; color: var(--text-color); font-weight: 600; letter-spacing: -0.33px;}
.editodo_mypage .mypage_info .mypage_arrow {position: absolute; top: 24px; right: -16px; width: 12px; height: 12px; background-color: #222; -webkit-mask-image: url("../images/common/direction.svg"); mask-image: url("../images/common/direction.svg"); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-size: 12px 12px; mask-size: 12px 12px;}

.editodo_mypage .category {margin-top: 10px; border-bottom: 1px solid var(--border-color); }
.editodo_mypage .category li {position: relative; height: 45px; padding: 0 20px; background-color: var(--body-color); line-height: 45px; font-size: 14px; color: var(--sub-text-color);}
.editodo_mypage .category .btn_category {display: block; width: 100%; height: 100%; line-height: 45px; font-size: 14px; color: var(--sub-text-color);}
.editodo_mypage .category .btn_category + .icon_direction {position: absolute; top: 18px; right: 20px; width: 8px; height: 8px; background-color: #ccc; -webkit-mask-image: url("../images/common/direction_small.svg"); mask-image: url("../images/common/direction_small.svg"); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-size: 8px 8px; mask-size: 8px 8px;}

.editodo_mypage .category_util > li {position: relative; }
.editodo_mypage .category_util .category_state {position: absolute; top: 0; right: 20px; color: var(--guide-text-color); font-size: 13px; text-align: right; }





/* ============================================
    step_modify //테마 및 색상 변경
============================================ */
.editodo_step_modify .section_choose .title {font-size: 14px; }
.editodo_step_modify .section_choose .layout_option {margin-top: 5px; }





/* ============================================
    font_modify //글꼴변경 
============================================ */
.editodo_font_modify .layout_sample {margin-top: 20px; }
.editodo_font_modify .sample_preview {width: 100%; height: 212px; padding: 87px 20px; box-sizing: border-box; border-radius: var(--style); background-color: var(--base); font-size: 14px; text-align: center; overflow: hidden; color: var(--text-color); }

.editodo_font_modify .font_list {margin-top: 20px; padding-top: 20px; border-top: 1px solid var(--border-color); }
.editodo_font_modify .font_list li {height: 40px; line-height: 40px; }
.editodo_font_modify .font_list li .radiobox {display: block; margin-right: 0; padding-left: 0; }
.editodo_font_modify .font_list li .radiobox label {display: block; }
.editodo_font_modify .font_list li .radiobox .on {top: 10px; left: auto; right: 0; }





/* ============================================
    notice //공지사항 
============================================ */

.accrodion_list .accrodion_head {padding: 10px 18px; border-bottom: 1px solid var(--border-color); background-color: var(--body-color);}
.accrodion_list .accrodion_head .title {font-size: 14px; color: var(--text-color); font-weight: 400; }
.accrodion_list .accrodion_head .date {display: block; margin-top: 5px; font-size: 12px; color: var(--guide-text-color); }
.accrodion_list .accrodion_head::marker {content: ''; display: none; visibility: hidden; height: 0; }
.accrodion_list .accrodion_head::-webkit-details-marker {content: ''; display: none; visibility: hidden; height: 0; }
.accrodion_list .accrodion_cont {padding: 10px 18px 40px; background-color: #F7F8F9; font-size: 13px; color: var(--sub-text-color); }


.accrodion_list .accrodion_head[open] {

}


/* ============================================
    inquiry //문의하기 
============================================ */
.editodo_inquiry .form_textarea {height: 250px;}