
//$sub-title-backgroundcolor : #ffffff; //서브 타이틀바 배경색상
//$card-backgroundcolor : #ffffff; //카드내부 배경 색상

/*
$sub-title-backgroundcolor : #28394B; //서브 타이틀바 배경색상
$sub-title-font-color : #E8EBF6; //서브 타이틀바 폰트색상
$card-backgroundcolor : #fafafa; //카드내부 배경 색상
*/


$sub-title-backgroundcolor : #28394B; //서브 타이틀바 배경색상      #툴바 관련 옵션#
$sub-title-font-color : #eef6ff; //서브 타이틀바 폰트색상           #툴바 관련 옵션# 
$card-backgroundcolor : #fafafa; //카드내부 배경 색상               #툴바 관련 옵션#





